// Conjunto de cores do site
$cor-de-fundo: #F0F2F5;
$cor-de-fundo2: #E9E9E9;
$vermelho: #8C4B45;
$cinza-forte: #5A5A5A;
$cinza: #7A7A7A;
$cinza-claro: #A7A7A7;
$cinza-muito-claro: #FDFDFD;
$cinza-btn: #D9D9D9;
$cinza-btn-hover: #D0D0D0;
$azul: #4F5F73;
$sombra: rgba(0,0,0,0.25);
$sombra-forte: rgba(0,0,0,0.5);