@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body {
  height: 100%;
  width: 100%;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: #F0F2F5;
  line-height: 1;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

svg {
  fill: #000000;
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Open sans", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, label {
  font-size: 1rem;
}

a {
  font-size: 0.75rem;
}

#main {
  height: 100%;
  padding: 3rem 1rem;
}

#main.l-no-padding {
  padding: 0;
}

.l-flex {
  display: flex;
}

.l-flex-center {
  align-items: center;
  justify-content: space-around;
}

.l-flex-align-center {
  align-items: center;
}

.l-flex-align-end {
  align-items: end;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex-gap-1rem {
  gap: 1rem;
}

.l-flex-gap-60 {
  gap: 3rem;
}

.l-flex-1 {
  flex: 1;
}

.l-flex-2 {
  flex: 2;
}

.l-flex-3 {
  flex: 3;
}

.l-grid {
  display: grid;
}

.l-table {
  display: table;
}

.l-table-row {
  display: table-row;
}

.l-table-cell {
  display: table-cell;
}

.l-full-height {
  height: 100%;
}

.l-full-viewport-height {
  height: 100vh;
}

.l-overflow-y-hidden {
  overflow-y: hidden;
}

.description {
  max-width: 500px;
}
.description__title {
  color: #8C4B45;
  font-size: 4rem;
  margin-bottom: 4rem;
}
.description__text {
  line-height: 1.5;
  margin-bottom: 3rem;
}
.description__text span {
  color: #8C4B45;
  font-weight: bold;
}
.description__cadastrar-link {
  background: #D9D9D9;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 30px;
}
.description__cadastrar-link:hover {
  background: #D0D0D0;
}

.login {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  max-width: 450px;
}
.login__title {
  color: #7A7A7A;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.login__label {
  color: #7A7A7A;
  font-weight: 600;
}
.login__input {
  color: #7A7A7A;
  font-size: 1rem;
  font-weight: 300;
  padding: 4px;
  width: 100%;
}
.login__input, .login__password-container {
  border: 1px solid #7A7A7A;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.login__password-container {
  padding: 0 4px;
}
.login__input--password {
  border: none;
  margin: 0;
}
.login__forgot-password {
  color: black;
  display: block;
  font-size: 0.9rem;
  margin: 2rem 0;
  text-align: center;
  text-decoration: underline;
}
.login__btn {
  background: #4F5F73;
  border: none;
  border-radius: 10px;
  color: #FDFDFD;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0.3rem 1.5rem;
}
.login__btn:hover {
  opacity: 0.9;
}
.login__eye-icon {
  cursor: pointer;
  fill: #7A7A7A;
  height: 1.3rem;
  width: 1.3rem;
}
.login__eye-icon:hover {
  opacity: 0.9;
}

.background-circle {
  background: #8C4B45;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(50% at right 100%);
          clip-path: circle(50% at right 100%);
  z-index: -1;
  position: absolute;
}

.overlay-backdrop {
  background: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
  position: absolute;
  padding: 3rem 1rem;
  overflow-y: auto;
  z-index: 100;
}

.recover-password-form {
  background: white;
  border-radius: 10px;
  color: #7A7A7A;
  max-width: 600px;
  padding: 4rem 2.5rem 2.5rem;
  position: relative;
}
.recover-password-form__close-btn {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 2.5rem;
  top: 2rem;
}
.recover-password-form__close-btn:hover {
  opacity: 0.9;
}
.recover-password-form__title {
  color: #7A7A7A;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.recover-password-form__text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.recover-password-form__label {
  font-weight: 600;
}
.recover-password-form__username-container {
  gap: 10px;
}
.recover-password-form__input {
  border: 1px solid #7A7A7A;
  border-radius: 2px;
  color: #7A7A7A;
  flex: 1;
  font-size: 1rem;
  font-weight: 300;
  min-width: 200px;
  padding: 4px;
}
.recover-password-form__btn {
  background: #D9D9D9;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 2px 1.5rem;
}
.recover-password-form__btn:hover {
  opacity: 0.9;
}

.alerts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 280px;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 100;
}
.alerts--bottom-right {
  bottom: 5px;
  top: unset;
}
.alerts .alert {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  cursor: default;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  transition: 1.5s all ease-in-out;
  opacity: 0;
}
.alerts .alert__icon {
  color: #FDFDFD;
  display: none;
  margin: auto 0;
}
.alerts .alert__title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.alerts .alert__title, .alerts .alert__text {
  color: #FDFDFD;
  font-size: 0.9rem;
}
.alerts .alert--success .fa-check {
  content: "f00c";
  display: inline;
}
.alerts .alert--error .fa-xmark {
  content: "f00d";
  display: inline;
}
.alerts .alert--info .fa-info {
  content: "f129";
  display: inline;
}

.is-none {
  display: none;
}/*# sourceMappingURL=login.css.map */