@import url(color.css);

html,body{
    height: 100%;
}

body{
    background-image: url(../img/png/diabetes.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
}

/*SECTION E DESCRIÇÃO DO SITE*/
body > section{
    flex: 3;
    position: relative;
}
section .descricao{
    background: rgba(0,0,0,0.5);
    padding: 10px 20px 40px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
section .descricao h1,section .descricao p{
    color: white;
}
section .descricao p:nth-child(2){
    font-size: 24px;
    margin-bottom: 20px;
}
section .descricao p:nth-child(3){
    font-size: 16px;
}
section .descricao h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*ASIDE - FORMULARIO DE CADASTRO*/
body > aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    background: white;
    box-shadow: -4px 0 10px 0 rgba(0,0,0,0.25);
    padding: 10px 40px;
    overflow-y: scroll;
}
body > aside > a{
    text-align: left;
    display: inline;
    width: 100%;
    color: var(--vermelho);
    font-weight: 600;
    font-size: 16px;
}
.cadastro-form h2,.cadastro-form h3,.cadastro-form label,.cadastro-form input:not(input[type="submit"]){
    color: var(--cinza);
}
.cadastro-form input:not(input[type="submit"],input[type="password"]),.input-senha{
    width: 100%;
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    padding: 6px;
    margin-bottom: 10px;
}
.cadastro-form input:not(input[type="submit"]){
    outline: none;
}
.cadastro-form h2{
    font-size: 40px;
    margin: 10px 0 35px 0;
}
.cadastro-form h3{
    font-size: 24px;
    margin: 30px 0;
}

.cadastro-form label{
    font-size: 16px;
    font-weight: 600;
    display: inline;
}
.flex-input-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.flex-input-container > *{
    flex: 1;
}

/*INPUT DE SENHA COM OPÇÃO DE MOSTRAR/ESCONDER SENHA*/
.input-senha{
    display: flex;
    align-items: center;
}
.input-senha input{
    border: none;
    width: 100%;
}
.input-senha .icone-senha{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 20px;
    width: 20px;
    cursor:pointer;
}
#esconde-senha .icone-senha{
    background-image: url(../img/svg/eye-slash.svg);
}
#mostra-senha .icone-senha{
    background-image: url(../img/svg/eye.svg);
}

/*BOTÃO SUBMIT CADASTRAR-SE*/
.submit-container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.submit-container .cadastrar-btn{
    background: var(--azul);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
}
.submit-container .cadastrar-btn:hover{
    opacity: 0.9;
}

/*Configurações globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}