@import url(color.css);

html{
    height: 100%;
    width: 100%;
    display: table;
}
body{
    background: var(--cor-de-fundo);
    display: table-cell;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}