@import url(color.css);

/*Elementos da página*/
html{
    height: 100%;
    width: 100%;
    display: table;
}
body{
    background: var(--cor-de-fundo);
    position: relative;
    display: table-cell;
    height: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 20px;
    height: 100%;
    gap: 60px;
    overflow: hidden;
}

/*Descrição*/
.descricao{
    max-width: 500px;
}
.descricao h1{
    color: var(--vermelho);
    font-size: 60px;
    margin-bottom: 60px;
}
.descricao p{
    color: black;
    font-size: 16px;
    margin-bottom: 40px;
}
.descricao p span{
    color: var(--vermelho);
    font-weight: bold;
}
.descricao a,.input-verificar-container .verificar-btn{
    background: var(--cinza-btn);
    border-radius: 5px;
    padding: 20px 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.descricao a:hover,.input-verificar-container .verificar-btn:hover{
    background-color: #D0D0D0;
}

/*Login container*/
.login-container{
    max-width: 450px;
    background: white;
    padding: 60px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
h2{
    color: var(--cinza);
    font-size: 40px;
    margin-bottom: 30px;
}
.login-container label,.prompt-recuperar-senha p,.recuperar-senha-form label{
    color: var(--cinza);
    font-weight: 600;
    font-size: 16px;
}
.login-container input:not(input[type="submit"]),.input-verificar-container input[type="text"]{
    width: 100%;
    outline: none;
    color: var(--cinza);
}
.login-container form > input[type="text"],.input-senha,.input-verificar-container .input[type="text"]{
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    padding: 6px;
    margin-bottom: 20px;
}
.login-container form > input[type="text"],.input-senha input{
    font-size: 14px;
}
.input-senha{
    display: flex;
    align-items: center;
}
.input-senha input{
    border: none;
}
.input-senha .icone-senha{
    cursor:pointer;
    display: none;
    fill: var(--cinza);
}
#esconde-senha .olho-fechado{
    display: inline;
}
#mostra-senha .olho-aberto{
    display: inline;
}
.esqueceu-senha-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.esqueceu-senha{
    text-align: center;
    margin: 20px;
}
.esqueceu-senha a{
    color: black;
    font-size: 14px;
}
.login-btn-container{
    display: flex;
    justify-content: center;
}
.login-btn-container .login-btn{
    background: var(--azul);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
    cursor: pointer;
}
.login-btn-container .login-btn:hover{
    opacity: 0.9;
}

/*Círculo do fundo*/
.background-circle{
    background: var(--vermelho);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: circle(50% at right 100%)
}

/*Prompt recuperar senha*/
.prompt-recuperar-senha{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
}
.prompt-recuperar-senha .background-prompt{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.recuperar-senha-form{
    background-color: white;
    border-radius: 10px;
    padding: 60px 40px;
    max-width: 600px;
    position: absolute;
}
.recuperar-senha-form h2{
    margin-bottom: 10px;
}
.recuperar-senha-form p{
    margin-bottom: 30px;
}
.input-verificar-container{
    display: flex;
    width: 100%;
    gap: 10px;
}
.input-verificar-container input[type="text"]{
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    width: 100%;
    outline: none;
    padding: 6px;
}
.input-verificar-container .verificar-btn{
    padding: 4px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
.fechar-btn{
    position: absolute;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 40px;
    right: 20px;
    top: 10px;
    color: var(--cinza);
    cursor: pointer;
    padding: 0 10px;
}
.fechar-btn:hover{
    opacity: 0.9;
}

/*Atributos globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}