.banner {
    background: url('../../../img/png/diabetes.png') no-repeat left / cover;
    min-width: 300px;
    
    //.banner__description
    &__description {
        background: $sombra-forte;
        color: $cinza-muito-claro;
        padding: 1.5rem 2.5rem;
    }

    //.banner__title
    &__title {
        font-size: 3.75rem;
        margin-bottom: 2rem;
    }

    //.banner__text
    &__text {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
        
        //.banner__text--primary
        &--primary {
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
}