.cards {
    gap: 1rem;
    max-width: 1100px;
}

.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 0 $sombra;
    color: $cinza;
    cursor: default;
    min-width: 224px;
    padding: 2rem 1.5rem;

    //.card--register
    &--register {
        display: inline-block;
        padding: 1.75rem 2rem;
    }

    //.card__title
    &__title {
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;

        //.card__title--red
        &--red {
            color: $vermelho;
        }
    }

    //.card__description
    &__description {
        font-weight: 600;
        margin-bottom: 2rem;
    }

    //.card__important
    &__important {
        color: black;
        display: block;
        font-size: 2rem;
        font-weight: bold;
        text-align: right;

        //.card__import:hover
        &:hover {
            opacity: .9;
        }
    }

    //.card__btn
    &__btn {
        background-color: $vermelho;
        border: none;
        border-radius: 20px;
        color: $cinza-muito-claro;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem auto 0;
        padding: 5px 2rem;

        //.card__btn:hover
        &:hover {
            opacity: .9;
        }
    }
}