.register-glucose {
    background-color: white;
    border-radius: 10px;
    color: $cinza;
    padding: 4rem 2rem;
    position: relative;

    //.register-glucose__close-btn
    &__close-btn {
        color: $cinza;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        right: 1rem;
        top: 1rem;

        //.register-glucose__close-btn:hover
        &:hover {
            opacity: .9;
        }
    }

    //.register-glucose__title
    &__title {
        font-size: 2rem;
    }

    //.register-glucose__text
    &__text {
        color: $azul;
        font-size: .8rem;
        margin: 1rem 0;
    }

    //.register-glucose__form
    &__form {
        color: $cinza;
        font-size: 1rem;
        margin-top: 2rem;
    }

    //.register-glucose__input-container
    &__input-container {
        margin: 1.25rem 0;

        //.register-glucose__input-container--datetime
        &--datetime {
            min-width: 100px;
            max-width: 150px;
        }
    }


    //.register-glucose__label
    &__label {
        font-size: 1rem;
        font-weight: 600;
    }

    //.register-glucose__select
    &__select {
        border-radius: 5px;
        border: 1px solid $cinza;
        color: $cinza;
        text-align: center;
    }

    //.register-glucose__textarea
    &__textarea {
        border: 1px solid $cinza;
        border-radius: 5px;
        color: $cinza;
        font-size: .8rem;
        padding: 5px 10px;
        outline: none;
        resize: none;
        width: 100%;
    }

    //.register-glucose__input
    &__input {
        border: 1px solid $cinza;
        border-radius: 5px;
        color: $cinza;
        text-align: center;

        //.register-glucose__input--submit
        &--submit {
            background-color: $vermelho;
            border: none;
            color: $cinza-muito-claro;
            cursor: pointer;
            font-size: 1rem;
            padding: 5px 0;
            width: 100%;

            //.register-glucose__input--submit:hover
            &:hover {
                opacity: .9;
            }
        }
    }
}