.user-options {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 $sombra;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    transition: all .5s ease-in;

    //.user-options__username
    &__username {
        cursor: default;
        margin-bottom: 1rem;
        text-decoration: underline;
    }

    //.user-options__link
    &__link {
        color: $cinza;
        display: inline-block;
        font-size: .9rem;
        font-weight: 500;
        padding: .4rem 0;
        text-wrap: nowrap;
        width: 100%;
        
        //.user-options__link:hover
        &:hover {
            color: black;
        }
    }
}